//* -------COLOreisS--------
$color-text: #18181b;
//* -------FONTS--------
$font-main: "Montserrat", sans-serif;
$font-decor: "Playfair Display", serif;
//* -------ANIMATION--------
$animation-time: 0.3s;
